    <footer class="footer">
        <nav class="footer__nav">
            <ul class="footer__container">
                <li class="footer__list-item"><a href="./contact">Contact Us</a></li>
                <li class="footer__list-item"><a href="./ownerLogIn">Log In</a></li>
                <li class="footer__list-item"><a href="./newUserForm">Create Account</a></li>
                <li class="footer__list-item"><a href="./team">Team</a></li>
                <li class="footer__list-item"><a href="./suggestions">Suggestions</a></li>
                <li class="footer__list-item"><a href="./categories">Categories</a></li>
            </ul>
        </nav>
        <div class="footer__copyright">&copy;Dyvrs Pages</div>
    </footer>