* {
  margin: 0px;
  padding: 0px;
}
.header__container {
  display: flex;
}

.header__nav {
  align-self: center;
  margin-left: 45%;
}
.footer__list-item{
  text-align: center;
  align-items: center;
}
.bold-name, .index__p-tag2{
  font-weight: bolder;
}
.contact__item{
  align-self: center;
  margin-bottom: -8px;
}
.header {
  display: grid;
  grid-row: 1;
  position: top;
  grid-template-columns: 2fr 1fr;
  z-index: 150;
  width: 100%;
  position: fixed; 
  top: 0;
}
.homepage-bg {
  background-image: url(../images/Columbus20.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  bottom: 0;
  z-index: 150;
  _position: absolute;
  width: 98%;
  margin-top: 1em;
  position: fixed;
}
.footer__container {
  display: flex;
  justify-content: space-evenly; 
}
.footer__copyright {
  text-align: right;
  margin-right: 2em;
  padding-top: 10px;
}
.about__mission, .team__title, .category__business--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}
.team__ul_container{
  margin-bottom:10em; 
}
.category__business--container, .individual-store__main, .team__section{
  margin-top: 10em;
}
.index__spot-light--img {
  max-height: 150px;
  max-width: 150px;
  min-width: 100px;
  min-height: 100px;
  border-radius: 5%;
}
.contact__item img {
  max-height: 20px;
  max-width: 20px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 5%;
  padding-top: 2px;
}
.index__spot-light--title2{
text-align: center;
}
.index__spot-light--title2 img {
  max-height: 20px;
  max-width: 20px;
  min-width: 10px;
  min-height: 10px;
  border-radius: 5%;
  padding-top: 4px;
}
.category__business--list-item img{
  max-height: 200px;
  max-width: 200px;
  min-width: 100px;
  min-height: 100px;
  border-radius: 10%;
}
.team__item img {
  max-height: 200px;
  max-width: 200px;
}
.individual-store__main {
  margin: 3rem;
  column-gap: 20px;
}
.team__item {
  min-width: 20%;
  margin-left: 8%;
  margin-bottom: 3%;
  
}
.category__business--list-item {
  min-width: 20%;
  margin-left: 8%;
  margin-bottom: 3%;
}

.logo{
  max-height: 100px;
  max-width: 100px;
  margin-left: 8%;
  margin-bottom: -10px;   
}
.category__business--title, .contact__title, .team__title, .index__category--title,  .individual-store__title {
  margin: 1em;
}
.index__spot-light--title{
  margin-top: 5em;
  text-align: center;
}
.individual-store__title {
  text-align: left;
  margin-left: 3.8em;
}
.category__business--container-list, .contact__container, .team__ul_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1rem;
  margin-left: ;
}
.category__business--container-list{
  margin-left: -5em; ;
}
.contact__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20rem;
  margin-bottom: 8.5rem;
}
.index__section-tag{
  margin-top: 0em;
  text-align: center;
}
.team__title{
  margin: 2em;
}
.index__spot-light--container-list{
  margin-top: 5em;
}
.category__business--list-item {
  padding: 1rem;
  display:grid;
  text-align: center;
  align-items: center;
}
.footer__nav li, .header__nav li {
  border-radius: 10px;
  padding: 5px 20px 10px 20px;
}
.individual-store__info-container li:nth-child(1){
  margin-top: 5px;
}
.individual-store__img {
  max-height: 75%;
  max-width: 75%;
  min-width: 300px;
  border-radius: 5%;
  margin-right: 20px;
}
iframe {
  /* max-height: 200px;
  max-width: 200px;
  min-width: 200px; */
}
.individual-store__gridContainer {
  display: grid;
  max-height: 75%;
  grid-template-columns: 1fr 3fr;
  margin-left: 6em;
  margin-right: 6em;
  margin-bottom: 10em;
}
.individual-store__product_list_container {
  display: flex;
}
.individual-store__item,.individual-store__info-item {
  padding-top: .5em;
  padding-bottom: .75em;
}
.individual-store__info-item a {
  padding: .5em;
}
#portal-page{
  border-radius: 5px;
  max-width: 40%;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20rem;
  margin-bottom: 15rem;   
}
.suggestion__div, #new-user-page, #update-user-login {
  border-radius: 5px;
  max-width: 40%;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
  margin-bottom: 8.5rem;
}
.about__mission{
  margin:  15em 20em 15em 20em;
}
.index__circle_container {
  position: relative;
  width: 24em;
  height: 12.5em;
  padding: 3em;
  margin: 4em auto 2em auto;
}
.index__circle_container a {
  display: block;
  position: absolute;
  top: 8rem;
  left: 57%;
  width: 6em;
  height: 6em;
  margin: -4em;
}
.index__circle_container a {
  display: block;
  width: 100%;
}
.index__single-category--name{
text-align: center;
}
.deg0 {
  transform: translate(10em);
}
.deg45 {
  transform: rotate(45deg) translate(10em) rotate(-45deg);
  display: grid;
  justify-items: center;
  align-items: center;
}
.deg90 {
  transform: rotate(90deg) translate(10em) rotate(-90deg);
}
.deg135 {
  transform: rotate(135deg) translate(10em) rotate(-135deg);
}
.deg180 {
  transform: translate(-10em);
}
.deg225 {
  transform: rotate(225deg) translate(10em) rotate(-225deg);
}
.deg270 {
  transform: rotate(270deg) translate(10em) rotate(-270deg);
}
.deg315 {
  transform: rotate(315deg) translate(10em) rotate(-315deg);
}
.index__spot-light--container ul {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 100px 100px;
  grid-gap: 3em;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 6em;
  margin-bottom: 5em;
}
.index__spot-light--list-item {
  text-align: center;
}
.index__spot-light--company-name div {
  text-align: center;
}
.index__circle_container a {
  z-index: 20;
  max-width: 4em;
}
.index__circle_container img {
  min-width: 4em;
  max-width: 4em;
  min-height: 4em;
  max-height: 4em;
  z-index: 12;
}
.suggestion__div input, .suggestion__div select {
  display: grid;
}
input[type="text"], select {
  width: 40em;
}
.business_list-item {
  width: 100%;
}
.business__owner_container input[type="text"] {
  display: flex;
  justify-content: space-evenly;
  font-size: large;
}
input[type="text"], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 10px;
  box-sizing: border-box;
}
@media only screen and (max-width: 768px) {
  .index__spot-light--container ul {
      display: grid;
      grid-row: 1;
      grid-template-columns: 1fr 1fr 1fr;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }
} 
@media only screen and (max-width: 500px) {
  .header {
      display: block;
      position: top;
      z-index: 150;
      width: 100%;
  }
} 
.hidden {
  display: none;
}