@import url(https://fonts.googleapis.com/css2?family=Andika&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Federo&display=swap);
* {
    list-style: none;
}
:root {
    --color-1: #011627;
    --color-2: rgba(4, 73, 129, 0.246);
    --color-3: #F6F4F5;
}
a {
    text-decoration: none;
    color: var(--color-3);
}
input, button{
    padding: 5px;
    border-radius: 5px;
}
* body {
    font-family: Andika, "sans-serif";
}
html {
    background-color: var(--color-3);
}
.logo{
    opacity: 80%;
}
.suggestion__h3-title, .new-user-form__title, .user-update-log-in__title{
    text-align: center;
}
.team__item a{
    color: var(--color-1);
}
.header, .footer {
    color: var(--color-3);
    background-color: var(--color-1);
}
.index__section-tag{
    font-family: Federo, sans-serif;
}
.index__p-tag{
    font-size: xx-large;
    margin-bottom: 20px;
}
.bold-website{
    font-weight: bolder;
    color:blue
}
.bold-name, .index__p-tag2{
    font-size: large; 
}
.index__spot-light--title a {
 color: var(--color-1);
}    
.category__business--company-name {
    font-size: small;
    font-weight: normal;
    text-align: center;
}
.header__nav li {
    color: var(--color-3);
    overflow: hidden;
}
.footer__nav li:hover, .header__nav li:hover {
    background-color: var(--color-2);
    opacity: 50%;
}
.team__title, .contact__title, .category__business--title, .about__mission--title, .individual-store__title {
    font-size: x-large;
}
.index__spot-light--title {
    font-size: medium;
}
.individual-store__info-item a {
    color: var(--color-1);
}
.index__spot-light--company-name {
    font-size: smaller; 

}
.index__single-category--name {
    color: var(--color-1);
    font-size: .75rem;
    }
.category__business--list-item a {
    color: var(--color-1);
}
.suggestion__div, #portal-page, #new-user-page, #update-user-login {
    background-color: var(--color-2);
    color: var(--color-1);

}
::placeholder {
    color: var(--color-1);
}
/* .category__business--list-item a {
    color: var(--color-1);
} */

#suggestion-button {
    color: var(--color-1);
}