<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Federo&display=swap" rel="stylesheet">
</head>
  <body>
    <!-- <header class="header">
      <h1 class="header__logo"><a href="./index.html">DYVRS<br/>PAGES</a></h1>
      <nav class="header__nav">
          <ul class= "header__container">
              <li class="header__list-item"><a href="./businessOwnerPage.html">Owner Portal</a></li>
              <li class="header__list-item"><a href="./about.html">Mission</a> </li>
          </ul>
      </nav>
  </header> -->
    <section class="about__mission">
      <h2 class="about__mission--title">Diverse businesses for diverse people</h2>
      <div class="about__mission--motto">
        
      </div>
      <p class="about__mission--paragraph" style="text-align: center;"><br/>
        A site dedicated to the growth and promotion of diversity in Columbus’s
        business community.<br/>
        <br />
        This app serves to help you discover and explore the minority owned businesses in<br/> 
        Columbus. Search for restaurants, coffee shops, florists, clothing stores and much more.<br/>
        <br />
        Columbus is a melting pot of people. We have people with backgrounds from all over the <br/>
        United States and World sharing their goods, ideas and services; molding Columbus’s own <br/>
        unique flavor of American.<br/>
        <br />
        This app is a tool for the community; know a minority owned business you don’t see? Let us<br/>
        know. Want to leave us a comment or another suggestion, reach out and educate us. And if <br/>
        you are business owner who wants to be a part of our app, reach out to us. Click the Log In<br/>
        and send us your basic info and registration as a minority business and we will give you<br/> 
        access to your own page.<br/>
        <br />
        Right now this app is just a seed. We want it to grow with community input and participation <br/>
        as we try to build a Columbus that is conscious and open to all its residents’ have to offer.<br/>
      </p>
    </section>
    <!-- <footer class="footer">
      <nav class="footer__nav">
          <ul class="footer__container">
              <li class="footer__list-item"><a href="./contactUs.html">Contact Us</a></li>
              <li class="footer__list-item"><a href="./userUpdate-longIn.html">Log In</a></li>
              <li class="footer__list-item"><a href="./newUserForm.html">Create Account</a></li>
              <li class="footer__list-item"><a href="./team.html">Team</a></li>
              <li class="footer__list-item"><a href="./suggestion .html">Suggestions</a></li>
              <li class="footer__list-item"><a href="./categories.html">Categories</a></li>
          </ul>
      </nav>
      <div class="footer__copyright">&copy;Dyvrs Pages</div>
  </footer> -->
  <script src="../../src/js/html-scripts/headerScript.js" type="module"></script>
  <script src="../../src/js/html-scripts/footerScript.js" type="module"></script>
  </body>
</html>
