<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/layout.css" />

</head>
<body>
    <!-- <header class="header">
        <h1 class="header__logo"><a href="./index.html">DYVRS<br/>PAGES</a></h1>
        <nav class="header__nav">
            <ul class= "header__container">
                <li class="header__list-item"><a href="./businessOwnerPage.html">Owner Portal</a></li>
                <li class="header__list-item"><a href="./about.html">Mission</a> </li>
            </ul>
        </nav>
    </header> -->
    <main class="contact__main">
        <h2 class="contact__title">Contact Information for Dyvrs Pages:</h2>
        <ul class="contact__container">
            <li class="contact__item"><a href="mailto:"><img src="../images/email.png" alt="Send an email to Dyvrs Pages"></a></li>
            <li class="contact__item"><a href="http://www.linkedin.com" target="_blank"><img src="../images/linkedin.png" alt="Visit the LinkedIn page for Dyvrs Pages"></a></li>
            <li class="contact__item"><a href="http://www.instagram.com" target="_blank"><img src="../images/instagram.png" alt="Visit the Facebook page for Dyvrs Pages"></a></li>
        </ul>
    </main> 
    <!-- <footer class="footer">
      <nav class="footer__nav">
          <ul class="footer__container">
              <li class="footer__list-item"><a href="./contactUs.html">Contact Us</a></li>
              <li class="footer__list-item"><a href="./userUpdate-longIn.html">Log In</a></li>
              <li class="footer__list-item"><a href="./newUserForm.html">Create Account</a></li>
              <li class="footer__list-item"><a href="./team.html">Team</a></li>
              <li class="footer__list-item"><a href="./suggestion .html">Suggestions</a></li>
              <li class="footer__list-item"><a href="./categories.html">Categories</a></li>
          </ul>
      </nav>
      <div class="footer__copyright">&copy;Dyvrs Pages</div>
  </footer> -->
  <script src="../../src/js/html-scripts/headerScript.js" type="module"></script>
  <script src="../../src/js/html-scripts/footerScript.js" type="module"></script>
</body>
</html>