<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Dyvers Pages</title>
​
  <link rel="shortcut icon" href="favicon.png">
​
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/layout.css" rel="stylesheet" />
    
  <div layout:fragment="headscripts">
    <!--/* If any individual page doesn't have headscripts, this <div> will not render. */-->
  </div>
</head>
<body>
	<!--/*
		Template content is included in each section within .container so
		errors can be detected if any intended content is not present.
	*/-->
​
	<div class="site-container">
		<div th:replace="fragments/header"><!-- HEADER --></div>
​
		<main class="site-main">
			<div layout:fragment="content" th:remove="tag"><!-- CONTENT --></div>
		</main>
​
		<div th:replace="fragments/nav"><!-- NAV --></div>
	</div>
​
	<!--/* This is a site-wide JavaScript file. */-->
	<!-- <script src="/js/site.js"></script>
	<script src="/js/modules.js"></script> -->
​
	<div layout:fragment="bodyscripts" th:remove="tag">
		<!--/* If any individual page doesn't have bodyscripts, this <div> will not render. */-->
	</div>
	    <section class="index__category">
                          <div class='index__circle_container'>
                <!-- <a href="./categories.html" class='center'><img src="http://imgsrc.hubblesite.org/hu/db/images/hs-2005-37-a-thumb.jpg" alt="Company Name Here Photo"></a> -->
                <a href="./categories.html" class='deg0'><img src='images/categoryIcons/Health&amp;Wellness.png'><h4 class="index__single-category--name">Health and Wellness</h4></a>
                <a href='./categories.html' class='deg45'><img src='images/categoryIcons/GasStation.png'><h4 class="index__single-category--name">Gas Station</h4></a>
                <a href='./categories.html' class='deg90'><img src='images/categoryIcons/Apparel.png'><h4 class="index__single-category--name">Apparel</h4></a>    
                <a href='./categories.html' class='deg135'><img src='images/categoryIcons/GroceryStore.png'><h4 class="index__single-category--name">Grocery Store</h4></a>
                <a href='./categories.html' class='deg180'><img src='images/categoryIcons/Association.png'><h4 class="index__single-category--name">Association</h4></a>
                <a href='./categories.html' class='deg225'><img src='images/categoryIcons/ConsumerServices.png'><h4 class="index__single-category--name">Consumer Services</h4></a>
                <a href='./categories.html' class='deg270'><img src='images/categoryIcons/Lodging.png'><h4 class="index__single-category--name">Lodging</h4></a>
                <a href='./categories.html' class='deg315'><img src='images/categoryIcons/Food.png'><h4 class="index__single-category--name">Food</h4></a>
            </div>
<br><br><br>
    </section>
    <section class="index__spot-light">
        <div class="index__spot-light--container">
            <h2 class="index__spot-light--title">Spot Light</h2>
            <ul class="index__spot-light--container-list">
                <!-- <li class="index__spot-light--list-item">
                    <img class="index__spot-light--img" src="https://raw.githubusercontent.com/2020-Summer-Cohort/dyvrs-pages/html/static/images/spotLightImg.png" alt="Company Name Here Photo">
                    <div class="index__spot-light--company-name">Company Name Here</div>
                </li>
                <li class="index__spot-light--list-item">    
                    <img class="index__spot-light--img" src="https://raw.githubusercontent.com/2020-Summer-Cohort/dyvrs-pages/html/static/images/spotLightImg.png" alt="Company Name Here Photo">
                    <div class="index__spot-light--company-name">Company Name Here</div>
                </li>    
                <li class="index__spot-light--list-item">
                    <img class="index__spot-light--img" src="https://raw.githubusercontent.com/2020-Summer-Cohort/dyvrs-pages/html/static/images/spotLightImg.png" alt="Company Name Here Photo">
                    <div class="index__spot-light--company-name">Company Name Here</div>
                </li>
                <li class="index__spot-light--list-item">
                    <img class="index__spot-light--img" src="https://raw.githubusercontent.com/2020-Summer-Cohort/dyvrs-pages/html/static/images/spotLightImg.png" alt="Company Name Here Photo">
                    <div class="index__spot-light--company-name">Company Name Here</div>
                </li>
                <li class="index__spot-light--list-item">
                    <img class="index__spot-light--img" src="https://raw.githubusercontent.com/2020-Summer-Cohort/dyvrs-pages/html/static/images/spotLightImg.png" alt="Company Name Here Photo">
                    <div class="index__spot-light--company-name">Company Name Here</div>
                </li> -->
            </ul>
          <br><br><br>
        </div>
    </section>

    <!-- <script src="/js/html-scripts/headerScript.js" type="module"></script> -->
    <!-- <script src="/js/html-scripts/footerScript.js" type="module"></script> -->
</body>
</html>