<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/layout.css" />

</head>
<body>
    <!-- <header class="header">
        <h1 class="header__logo"><a href="./index.html">DYVRS<br/>PAGES</a></h1>
        <nav class="header__nav">
            <ul class= "header__container">
                <li class="header__list-item"><a href="./businessOwnerPage.html">Owner Portal</a></li>
                <li class="header__list-item"><a href="./about.html">Mission</a> </li>
            </ul>
        </nav>
    </header> -->
    <section class="new-user-form__section">
        <h2 class="new-user-form__title">New User Submission Form</h2>
        <ul class="new-user-form__container">
            <label for="name">Business Name</label>
            <input type="text" id="business_name" name="business" placeholder="Enter business name... ">
            <label for="b_owner_name">Business Owner's Name</label>
            <input type="text" id="b_owners_name" name="b_owner_name" placeholder="Business owner or contacts fist and last name... ">
            <label for="lname">Contact Number</label>
            <input type="text" id="b_phonenumber" name="phonenumber" placeholder="Your business or personal phonenumber... ">
            <label for="lname">Contact Email</label>
            <input type="text" id="b_email" name="email" placeholder="Email you can be reached at..">

            <p class="new-user-form__item2">Upload document:</p>
            <form action="/action_page.php">
                <input type="file" id="myFile" name="filename">
                <input type="submit">
              </form>
        </ul>
    </section>
    <!-- <footer class="footer">
      <nav class="footer__nav">
          <ul class="footer__container">
              <li class="footer__list-item"><a href="./contactUs.html">Contact Us</a></li>
              <li class="footer__list-item"><a href="./userUpdate-longIn.html">Log In</a></li>
              <li class="footer__list-item"><a href="./newUserForm.html">Create Account</a></li>
              <li class="footer__list-item"><a href="./team.html">Team</a></li>
              <li class="footer__list-item"><a href="./suggestion .html">Suggestions</a></li>
              <li class="footer__list-item"><a href="./categories.html">Categories</a></li>
          </ul>
      </nav>
      <div class="footer__copyright">&copy;Dyvrs Pages</div>
  </footer> -->
  <script src="../../src/js/html-scripts/headerScript.js" type="module"></script>
  <script src="../../src/js/html-scripts/footerScript.js" type="module"></script>
</body>
</html>