<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/layout.css" />
</head>
<body>
    <!-- <header class="header">
        <h1 class="header__logo"><a href="./index.html">DYVRS<br/>PAGES</a></h1>
        <nav class="header__nav">
            <ul class= "header__container">
                <li class="header__list-item"><a href="./businessOwnerPage.html">Owner Portal</a></li>
                <li class="header__list-item"><a href="./about.html">Mission</a> </li>
            </ul>
        </nav>
    </header> -->
 <section class="user-update-log-in__section">
     <h2 class="user-update-log-in__title">Website Form</h2>
         <label for="lname">Name of Business</label>
    <input type="text" id="business_name" name="name_of_business" placeholder="Your Name of Business..">
    <select id="contact_reason" name="contact_reason">
        <option value="suggest_new_business">Type of Business </option>
        <option value="business_type_food">Food </option>
        <option value="business_type_other">Other</option>
        <option value="business_type_other">Other</option>
        <option value="other">Other</option>
    </select>

    <label for="lname">Primary Contacts First and Last Name:</label>
    <input type="text" id="x" name=x2" placeholder="Primary Contacts First and Last Name:">

    <label for="lname">Primary Contacts Phone Number:</label>
    <input type="text" id="x" name=x2" placeholder="Phone Number...">
    
    <label for="lname">Primary Contacts Phone Number:</label>
    <input type="text" id="x" name=x2" placeholder="Primary Contacts Phone Number:">
    <label for="lname">Business Email :</label>
    <input type="text" id="x" name=x2" placeholder="Business Email">
    <label for="lname">Website URl :</label>
    <input type="text" id="x" name=x2" placeholder="Website Url...">
    <label for="lname">Business Hours :</label>
    <input type="text" id="x" name=x2" placeholder="Business Hours...">
    <label for="lname">About Section :</label>
    <input type="text" id="x" name=x2" placeholder="about section">
    <label for="lname">Product List :</label>
    <input type="text" id="x" name=x2" placeholder="Product List">
    <p>Click on the "Upload a picture of your Business</p>
    <form action= "/action_page.php" >
        <input type="file" id="myFile" name="filename">
        <input type="submit">
      </form>
    <br><br>
</section>
<br><br>
    <!-- <footer class="footer">
      <nav class="footer__nav">
          <ul class="footer__container">
              <li class="footer__list-item"><a href="./contactUs.html">Contact Us</a></li>
              <li class="footer__list-item"><a href="./userUpdate-longIn.html">Log In</a></li>
              <li class="footer__list-item"><a href="./newUserForm.html">Create Account</a></li>
              <li class="footer__list-item"><a href="./team.html">Team</a></li>
              <li class="footer__list-item"><a href="./suggestion .html">Suggestions</a></li>
              <li class="footer__list-item"><a href="./categories.html">Categories</a></li>
          </ul>
      </nav>
      <div class="footer__copyright">&copy;Dyvrs Pages</div>
  </footer> -->
  <script src="../../src/js/html-scripts/headerScript.js" type="module"></script>
  <script src="../../src/js/html-scripts/footerScript.js" type="module"></script>
</body>
</html>