<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/layout.css" />
</head>
<body>
    <!-- <header class="header">
        <h1 class="header__logo"><a href="./index.html">DYVRS<br/>PAGES</a></h1>
        <nav class="header__nav">
            <ul class= "header__container">
                <li class="header__list-item"><a href="./businessOwnerPage.html">Owner Portal</a></li>
                <li class="header__list-item"><a href="./about.html">Mission</a> </li>
            </ul>
        </nav>
    </header> -->
    <div class ="suggestion_parent_div">
        <div class = "suggestion__div">
            <h3>How Can We Improve ?</h3>
          <form action="/action_page.php">
            <label for="name">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
        
            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            <label for="lname">Email</label>
            <input type="text" id="email" name="email" placeholder="Email you can be reached at..">
          
            <label for="reason_for_contact">Reason For Contact</label>
            <select id="contact_reason" name="contact_reason">
              <option value="suggest_new_business">Suggest New Business</option>
              <option value="improvement_suggestions">Suggestions for Improvement</option>
              <option value="question_about_website">Questions about Website</option>
              <option value="other">Other</option>
            </select>
              <label for="lname">Aditional Comments</label>
            <input type="text" id="add_comments" name="comments" placeholder="Additional comments">
          
            <input type="submit" value="Submit">
          </form>
        </div>
        </div>
    <!-- <footer class="footer">
      <nav class="footer__nav">
          <ul class="footer__container">
              <li class="footer__list-item"><a href="./contactUs.html">Contact Us</a></li>
              <li class="footer__list-item"><a href="./userUpdate-longIn.html">Log In</a></li>
              <li class="footer__list-item"><a href="./newUserForm.html">Create Account</a></li>
              <li class="footer__list-item"><a href="./team.html">Team</a></li>
              <li class="footer__list-item"><a href="./suggestion .html">Suggestions</a></li>
              <li class="footer__list-item"><a href="./categories.html">Categories</a></li>
          </ul>
      </nav>
      <div class="footer__copyright">&copy;Dyvrs Pages</div>
  </footer> -->
  <script src="../../src/js/html-scripts/headerScript.js" type="module"></script>
  <script src="../../src/js/html-scripts/footerScript.js" type="module"></script>
</body>
</html>