<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/layout.css" />

</head>
<body>
    <!-- <header class="header">
        <h1 class="header__logo"><a href="./index.html">DYVRS<br/>PAGES</a></h1>
        <nav class="header__nav">
            <ul class= "header__container">
                <li class="header__list-item"><a href="./businessOwnerPage.html">Owner Portal</a></li>
                <li class="header__list-item"><a href="./about.html">Mission</a> </li>
            </ul>
        </nav>
    </header> -->
    <section class = "team__section">
        <h2 class ="team__title">Meet the team!
        </h2>
        <ul class = "team__ul_container">
            <li class ="team__item"> 
              <img>
              <div>Cameron Resuta</div>
              <div> Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</div>
            </li>
            <li class ="team__item"> 
              <img>
              <div>Christin Banerjee</div>
              <div>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</div>
            </li>
            <li class ="team__item"> 
              <img>
              <div>Jason Orabella</div>
              <div>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</div>
            </li>
            <li class ="team__item"> 
              <img>
              <div>Mignonne Silva</div>
              <div>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</div>
            </li>
            <li class ="team__item"> 
              <img>
              <div>Robyn Chambers</div>
              <div>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</div>
            </li>
            <li class ="team__item"> 
                <img>
              <div>Shawn Daniels</div>
              <div>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem</div>
            </li>
        </ul>
    </section>
    <!-- <footer class="footer">
      <nav class="footer__nav">
          <ul class="footer__container">
              <li class="footer__list-item"><a href="./contactUs.html">Contact Us</a></li>
              <li class="footer__list-item"><a href="./userUpdate-longIn.html">Log In</a></li>
              <li class="footer__list-item"><a href="./newUserForm.html">Create Account</a></li>
              <li class="footer__list-item"><a href="./team.html">Team</a></li>
              <li class="footer__list-item"><a href="./suggestion .html">Suggestions</a></li>
              <li class="footer__list-item"><a href="./categories.html">Categories</a></li>
          </ul>
      </nav>
      <div class="footer__copyright">&copy;Dyvrs Pages</div>
  </footer> -->
  <script src="../../src/js/html-scripts/headerScript.js" type="module"></script>
  <script src="../../src/js/html-scripts/footerScript.js" type="module"></script>
</body>
</html>